<form [formGroup]="dateRangeForm" (ngSubmit)="onSubmit(dateRangeForm.value)">
  <label for="from">From</label><input type="text" id="from" formControlName="from" />
  <label for="to">To</label><input type="text" id="to" formControlName="to" />
  <button class="button" type="'submit">Refresh</button>
</form>
<div class="flex columns">
  <div class="flex-item column">
    <div style="display: block;"  *ngIf="vol">
      <canvas baseChart width="400" height="100%"
              [datasets]="vol"
              [chartType]="'line'"
              [labels]="labels"
      >
      </canvas>
    </div>
  </div>
</div>
